{% extends "base.html" %}

{% block header %}
{% include 'includes/header.html' %}
{% endblock %}

{% block main %}
<div class="main">
    <div class="container">
        <div class="header-main">
            <div class="nearest-research col-3 p-24 b-1 h-fill center column">
                {% if nearest_research is none %}
                <p>
                    Ближайшее исследование по расписанию не назначено
                </p>
                {% else %}
                <p>
                    Ближайшее исследование по расписанию
                </p>
                <a href="" class="research-planner-info center">
                    <p class="research-name">
                        {{ nearest_research.research_name }}
                    </p>
                    <p class="planner-remained">
                        {{ nearest_research.schedule_next_launch_time }}
                    </p>
                </a>
                {% endif %}
            </div>
            <div class="quick-launch-research col-max p-24 b-1 column">
                <h1 class="center">Новое исследование</h1>
                <form>
                    <input type="text" placeholder="Начните писать...">
                    <div class="row gap-12">
                        <a href="" class="button border-icon">
                            {% set width = 24 %}
                            {% set height = 24 %}
                            {% set class = "color-white-default" %}
                            {% include 'includes/svg/settings.svg' %}
                        </a>
                        <button class="primary solid col-max" type="submit">
                            Начать исследование
                        </button>
                    </div>
                </form>
            </div>
            <div class="offer-guide col-3 p-24 b-1 column">
                <div class="light-glow"></div>
                <img src="{{ url_for('static', path='images/image-book.png') }}">
                <p>
                    Изучите полезную информацию для эффективного использования WideResearcher
                </p>
                <a href="" class="button primary solid">Изучить гайды</a>
            </div>
        </div>
        <div class="researches-wrapper">
            <div class="header-block">
                <div class="row">
                    <h1>Исследования</h1>
                    <a href="" class=" filter">
                        {% set width = 16 %}
                        {% set height = 16 %}
                        {% set class = "color-text-body" %}
                        {% include 'includes/svg/sort.svg' %}
                        По дате создания (сначала новые)
                    </a>
                </div>
            </div>
            <div class="list-researches">
                <a href="" class="button primary dashed">
                    Начать новое исследование
                </a>
                {% if researches|length == 0 %}
                <div class="empty-block">
                    {% set width = 96 %}
                    {% set height = 96 %}
                    {% set class = "color-text-body" %}
                    {% include 'includes/svg/empty.svg' %}
                    <div class="empty-info">
                        <h4>Пусто...</h4>
                        <p>Тут пока нет ни одного исследования</p>
                    </div>
                </div>
                {% else %}
                {% for research in researches %}
                <div class="research-card">
                    <div class="card-info">
                        <a href="" class="row card-header">
                            <div class="icon">
                                {% set width = 32 %}
                                {% set height = 32 %}
                                {% set class = "color-text-body" %}
                                {% include 'includes/svg/research.svg' %}
                            </div>
                            <p class="card-name">
                                {{ research.research_name }}
                            </p>
                        </a>
                        <div class="row">
                            <div class="property">
                                {% set width = 16 %}
                                {% set height = 16 %}
                                {% set class = "color-text-body" %}
                                {% include 'includes/svg/timer.svg' %}
                                Следующее исследование {{ research.schedule_next_launch_time }}
                            </div>
                            <div class="property">
                                {% set width = 16 %}
                                {% set height = 16 %}
                                {% set class = "color-text-body" %}
                                {% include 'includes/svg/git-fork.svg' %}
                                {{ research.research_version_name }}
                            </div>
                            <div class="property">
                                {% set width = 16 %}
                                {% set height = 16 %}
                                {% set class = "color-text-body" %}
                                {% include 'includes/svg/revert.svg' %}
                                Обновлён {{ research.research_last_update_time }}
                            </div>
                        </div>
                    </div>
                    <div class="card-actions">
                        <a href="" class="button border-icon">
                            {% set width = 24 %}
                            {% set height = 24 %}
                            {% set class = "color-white-default" %}
                            {% include 'includes/svg/settings.svg' %}
                        </a>
                        <a href="" class="button border-icon">
                            {% set width = 24 %}
                            {% set height = 24 %}
                            {% set class = "color-white-default" %}
                            {% include 'includes/svg/timer.svg' %}
                        </a>
                        <a href="" class="button border-icon">
                            {% set width = 24 %}
                            {% set height = 24 %}
                            {% set class = "color-white-default" %}
                            {% include 'includes/svg/delete.svg' %}
                        </a>
                        <a href="" class="button primary solid">
                            Открыть
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}