{% extends "base.html" %}

{% block header %}
{% include "includes/header-out-system.html" %}
{% endblock %}

{% block main %}
<div class="main center">
    <div class="container page center">
        <div class="form-level-1" style="width: 480px;">
            <div class="form-title">
                <p class="title">Авторизация</p>
                <p class="subtitle">
                    Авторизируйтесь, чтобы продолжить использование сервис WideResearcher
                </p>
                <form hx-post="{{ url_for('api_login') }}" hx-trigger="submit" hx-swap="none">
                    <input name="login" type="text" placeholder="Логин">
                    <input name="password" type="password" placeholder="Пароль">
                    <button type="submit" class="primary solid">Войти в систему</button>
                    <p id="result_form" class="result wrong hidden"></p>
                    <p>или</p>
                    <a class="button primary stroke" href="{{ url_for('register') }}">Создать аккаунт</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}