{% extends "base.html" %}

{% block header %}
<div class="header">
    <div class="container center">
        {% include "includes/header-out-system.html" %}
    </div>
</div>
{% endblock %}

{% block main %}
<div class="main">
    <div class="container page center">
        <div class="form-level-1" style="width: 480px;">
            <div class="form-title">
                <p class="title">Регистрация</p>
                <p class="subtitle">
                    Создайте аккаунт, чтобы начать пользоваться сервисом WideResearcher
                </p>
                <form>
                    <input type="text" placeholder="Логин">
                    <input type="password" placeholder="Пароль">
                    <input type="confirm-password" placeholder="Повтор пароля">
                    <button class="primary solid">Создать аккаунт</button>
                    <p>или</p>
                    <a class="button primary stroke" href="{{ url_for('login') }}">Войти в аккаунт</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}