<div hx-swap-oob="true" id="popup-overlay" class="popup-overlay">
    <div id="popup" class="popup new-model gap-24">
        <div class="popup-header">
            <h2>Модель обновлена!</h2>
            <p>Модель <span class="color-text-hint">{{ model_name }}</span> обновлена в базе данных</p>
        </div>
        <a href="#" hx-trigger="click" hx-get="{{ url_for('hide') }}" class="button text-hint stroke">
            Отмена
        </a>
        {% include 'includes/popup_close.html' %}
    </div>
</div>

{% include 'includes/lists/list_models.html' %}