<div hx-swap-oob="true" id="popup-overlay" class="popup-overlay">
    <div id="popup" class="popup new-research">
        <div class="popup-header">
            <h2>Новое исследование</h2>
            <p>Настройте параметры нового исследования</p>
        </div>
        {% include 'includes/forms/new_research.html' %}
        <!-- <a href="#" hx-trigger="click" hx-get="{{ url_for('hide') }}" class="button text-hint stroke col-max">
            Отмена
        </a> -->
        {% include 'includes/popup_close.html' %}
    </div>
</div>