<div hx-swap-oob="true" id="popup-overlay" class="popup-overlay">
    <div id="popup" class="popup new-model gap-24">
        <div class="popup-header">
            <h2>Название обновлено!</h2>
            <p>Название изменено с <span class="color-text-hint">{{ old_name }}</span> на <span class="color-text-hint">{{ new_name }}</span></p>
        </div>
        <a href="#" hx-trigger="click" hx-get="{{ url_for('hide') }}" class="button text-hint stroke">
            Закрыть
        </a>
        {% include 'includes/popup_close.html' %}
    </div>
</div>

{% include 'includes/lists/list_researches.html' %}
