<div hx-swap-oob="true" id="popup-overlay" class="popup-overlay">
    <div id="popup" class="popup new-model gap-24">
        <div class="popup-header">
            <h2>Планировщик сохранён!</h2>
            <p>Настройки автоматического запуска успешно сохранены</p>
        </div>
        <a href="#" hx-trigger="click" hx-get="{{ url_for('hide') }}" hx-swap="none" class="button text-hint stroke">
            Закрыть
        </a>
        {% include 'includes/popup_close.html' %}
    </div>
</div>

{% set oob = true %}
{% include 'includes/scheduler_block.html' %}
