<div hx-swap-oob="true" id="model-options" class="model-options column gap-12">
    <div class="field">
        <input name="model_path" type="text" placeholder="Путь до модели" {% if model and model.model_path
            %}value="{{ model.model_path }}" {% endif %}>
        <label>Путь до модели</label>
    </div>
    <div class="field">
        <input name="model_key_answer" type="text" placeholder="Ключ ответа в json" {% if model and
            model.model_key_answer %}value="{{ model.model_key_answer }}" {% endif %}>
        <label>Ключ ответа в json</label>
    </div>
</div>