<form autocomplete="off" hx-post="{{ url_for('api_create_research') }}" hx-swap="none">
    <!-- settings -->
    {% if count_epoch %}<input type="hidden" name="count_epoch" value="{{ count_epoch }}">{% endif %}
    {% if model_answer %}<input type="hidden" name="model_answer" value="{{ model_answer }}">{% endif %}
    {% if model_search %}<input type="hidden" name="model_search" value="{{ model_search }}">{% endif %}
    {% if model_direction %}<input type="hidden" name="model_direction" value="{{ model_direction }}">{% endif %}
    {% if model_parent %}<input type="hidden" name="model_parent" value="{{ model_parent }}">{% endif %}
    <!-- form -->
    <textarea name="prompt" placeholder="Запрос на исследование"></textarea>
    <div class="column gap-12">
        <div class="row gap-12">
            <a {% if btn_id %}id="{{ btn_id }}"{% endif %} href="#" hx-swap="none" hx-trigger="click" hx-get="{{ url_for('edit_new_research') }}"
                hx-vals='{% if page %}{"previous_screen": "{{page}}"}{% else %}{}{% endif %}'
                class="button border-icon{% if has_settings %} active{% endif %}">
                {% set width = 24 %}
                {% set height = 24 %}
                {% set class = "color-white-default" %}
                {% include 'includes/svg/settings.svg' %}
            </a>
            <button class="primary solid col-max" type="submit">
                Начать исследование
            </button>
        </div>
    </div>
</form>