<form autocomplete="off">
    <textarea name="prompt" placeholder="Запрос на исследование"></textarea>
    <div class="column gap-12">
        <div class="row gap-12">
            <a href="#" hx-swap="none" hx-trigger="click" hx-get="{{ url_for('edit_new_research') }}"
                class="button border-icon">
                {% set width = 24 %}
                {% set height = 24 %}
                {% set class = "color-white-default" %}
                {% include 'includes/svg/settings.svg' %}
            </a>
            <button class="primary solid col-max" type="submit">
                Начать исследование
            </button>
        </div>
    </div>
</form>