{% set width = 20 %}
{% set height = 20 %}
{% set class = "color-primary-default" %}


<div class="header flex">

    <div class="container row">

        <a href="{{ url_for('index')}}" class="header-logotype">
            {% include 'includes/svg/logo.svg' %}
            WideResearcher
        </a>

        <div class="header-menu-wrapper">
            <a href="#" hx-swap="none" hx-trigger="click" hx-get="{{ url_for('new_research') }}"
                class="header-menu button primary solid">
                {% set width = 16 %}
                {% set height = 16 %}
                {% set class = "color-black-default" %}
                {% include 'includes/svg/start-research.svg' %}
                Новое исследование
            </a>
            <a href="{{ url_for('researches')}}" class="header-menu{% if page == 'researches' %}-selected{% endif %}">
                Исследования
            </a>
            <a href="{{ url_for('models')}}" class="header-menu{% if page == 'models' %}-selected{% endif %}">
                Модели
            </a>
            <a href="" class="header-menu{% if page == 'guide' %}-selected{% endif %}">
                Полезная информация
            </a>
        </div>

        <div class="header-profile-wrapper">
            <a href="" class="notification">
                {% set width = 20 %}
                {% set height = 20 %}
                {% set class = "color-text-body" %}
                {% include 'includes/svg/bell.svg' %}
            </a>
            <a href="" class="profile">
                <p>{{ user_cookie.user_login if user_cookie else "Пользователь" }}</p>
            </a>
        </div>

    </div>

</div>